$_white: 	          #ffffff;
$_spring-wood: 	    #f9f9f3;
$_tundora: 	        #4c4b4b;
$_black: 	          #000000;
$_gondola: 	        #160c0d;
$_shark: 	          #212529;
$_mine-shaft: 	    #393939;
$_pampas: 	        #f8f7f5;
$_hit-gray: 	      #adb5bd;
$_gray: 	          #8d8c8c;
$_boulder: 	        #7b7b7b;
$_trout: 	          #495057;
$_bombay: 	        #b2b9c0;
$_iron: 	          #d4d9de;
$_alto: 	          #d7d7d7;
$_gallery: 	        #ececec;
$_ghost: 	          #ced4da;

$_valencia: 	      #d24335;
$_burnt-sienna: 	  #ef5b4c;
$_clementine: 	    #ef6c00;

$_blue-zodiac: 	    #0e2545;
$_arapawa: 	        #0e1a74;
$_chathams-blue:    #1b4a8a;
$_chambray: 	      #3a5384;
$_azure-radiance: 	#007bff;
$_steel-blue: 	    #5079b7;

$_eucalyptus: 	    #28a745;
//

$background-color-primary:          $_white;
$background-color-secondary:        $_spring-wood;

$color-title-primary:               $_shark;
$color-subtitle-primary:            $_tundora;

$color-text-primary:                $_tundora;
$color-text-secondary:              $_white;

$color-link-text:                   $_tundora;
$color-link-hover:                  $_burnt-sienna;

$color-button-text:                 $_white;
$color-button-text-hover:           $_valencia;
$color-button-text-disabled:        $_gray;
$background-color-button:           $_burnt-sienna;
$background-color-button-hover:     $_valencia;
$background-color-button-disabled:  $_alto;

$background-color-tooltip:          $_black;



$color-border-dark:         $_white;
$color-border-light:        $_white;

$color-border:              $_white;
$color-border-dark:         $_white;
$color-border-light:        $_white;

$color-highlight:           $_white;

$color-link:                $_white;
$color-link-dark:           $_white;
$color-link-light:          $_white;

$color-text:                $_white;
$color-text-light:          $_white;
$color-text-lightest:       $_white;
