.users {
  margin-top: 140px;

  .heading {
    text-align: center;

    &__title {
      // @include font-primary(42px, $color-2, 400);
    }

    &__subtitle {
      // @include font-primary(18px, $color-2, 400);
      margin-top: 30px;
    }
  }

  .content {
    margin-top: 60px;
  }

  .cards {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(275px, 355px));
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-column-gap: 35px;
    grid-row-gap: 60px;

    &__action {
      grid-column: 2 / 3;
      justify-self: center;
      width: 100%;
      max-width: 290px;
    }

    &__button {
      // @include font-secondary(20px, $color-3, 700);
      width: 100%;
      border-radius: 4px;
      // border: 2px solid $color-3;
      padding: 10px;
      transition: all 0.25s;

      &:hover {
        // @include font-secondary(20px, $color-4, 700);
        // background-color: $color-6;
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }

  .card {
    display: flex;

    &__avatar {
      margin-right: 10px;
    }

    &__picture {
    }

    &__img {
      display: block;
      object-fit: cover;
      border-radius: 50%;
    }

    &__body {
      margin-top: 25px;
      overflow: hidden;
    }

    &__header {
    }

    &__title {
      // @include font-primary(22px, $color-2, 700);
      max-width: 225px;
    }

    &__list {
      margin-top: 20px;
    }

    &__item {
      // @include font-secondary(14px, $color-10, 400);

      &_ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.active-tooltip {
        &:after {
          // @include font-secondary(14px, $color-1, 400);
          content: attr(data-tooltip-text);
          display: block;
          position: absolute;
          top: -9999em;
          padding: 5px 10px;
          box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.11);
          border-radius: 4px;
          background-color: #707070;
          transform: translate(20px, 0);
          transition: all 0.25s;
          opacity: 0;
        }

        &:hover::after {
          top: auto;
          opacity: 1;
          transform: translate(20px, 20px);
        }
      }
    }
  }

  &__container {
  }
}
